<div class="example-container">
    <h1 mat-dialog-title>Please ENter Ur Code Here</h1>
        <mat-dialog-content>
        <mat-form-field>
          <input matInput placeholder="lineCode">
        </mat-form-field>

        <mat-form-field>
            <button mat-button>Post Line TO vim!</button>
        </mat-form-field>
        
        <mat-form-field>
          <textarea matInput placeholder="codeArea">Code u written and passed</textarea>
        </mat-form-field>
        </mat-dialog-content>
        <div mat-dialog-actions>
                <button mat-button [mat-dialog-close]="false">Cancel</button>
                <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>
        </div>
      </div>
      