.terminal {
    border: 5px;
    border-color: blueviolet;
    width: 800px;
    height: 800px;
    color: green;
    /* background-color: aquamarine; */
}

.terminal-div {
    border: 5px;
    border-color: blueviolet;
    width: 1000px;
    height: 800px;
    color: green;
    /* background-color: aquamarine; */
}