<ul>
    <li>
      <mat-form-field class="script-terminal">
        <input matInput [(ngModel)]="fileName" placeholder="Please enter New Script`s Name?">
      </mat-form-field>
    </li>
    <li>
        <mat-form-field class="terminal">
            <textarea matInput rows="15" [(ngModel)]="codeArea" placeholder="Code Area" name="content"></textarea>
        </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Create</button>
    </li>

</ul>
<app-script *ngFor="let script of scripts" [element]="script"></app-script>  
