<mat-sidenav-container mode="above">
    <mat-sidenav #sidenav role="navigation">
                <mat-list role="list">
                                <a mat-list-item class="linkchild" routerLink="/signup" (click)="sidenav.close()"> <mat-icon>face</mat-icon> <span class="nav-caption">SignUp</span></a>
                                <a mat-list-item class="linkchild" routerLink="/login" (click)="sidenav.close()"> <mat-icon>input</mat-icon><span class="nav-caption">Login</span></a>
                                <a mat-list-item class="linkchild" routerLink="/commands" (click)="sidenav.close()"> <mat-icon>keyboard</mat-icon><span class="nav-caption">Commands</span></a>
                                <a mat-list-item class="linkchild" routerLink="/hackwithmypi" (click)="sidenav.close()"> <mat-icon>keyboard_arrow_right</mat-icon><span class="nav-caption">Terminal</span></a>
                                <a mat-list-item class="linkchild" routerLink="/hackwithmypi" (click)="sidenav.close()"> <mat-icon>eject</mat-icon><span class="linkchild">logout</span></a>
                </mat-list>
                
    </mat-sidenav>
    <mat-sidenav-content>
            <mat-toolbar color="primary">
                <div>
                        <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                        </button>
                </div>
                <div>LOGO</div>
                <div fxHide.xs fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                        <ul fxLayout="row" fxLayoutGap="30px" class="navigation-Items">
                                <li><a routerLink="/signup">SignUp </a></li>
                                <li><a routerLink="/login">Login </a></li>
                                <li><a routerLink="/commands">Commands </a></li>
                                <li><a routerLink="/hackwithmypi">Terminal </a></li>
                        </ul>
                        
                        
                        
                        
                        
                </div>
            </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  

