<form (ngSubmit)="onPostCommand(f)" #f="ngForm">  
    <mat-form-field class="example-full-width" class="terminal-input" fxLayout="column">
      <input matInput placeholder="Enter Linux Command" rows="1" [(ngModel)]="commandsText" name="terminal">
    </mat-form-field>
    <br>
    <mat-divider></mat-divider>
    <br>
      <button mat-raised-button color="accent">Clear</button>
    <span>
      <button mat-raised-button color="warn" type="submit">Post Command</button>
    </span>
  
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
    <mat-form-field class="terminal">
      <label>Terminal</label>
      <textarea matInput placeholder="" rows="20" readonly>
        guest:/> {{ commandsText }}
        {{ serverReplyText }}
      </textarea>
    </mat-form-field>
</form> 
